body{
  font-family: 'Merriweather Sans', sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
    -webkit-background-size: no-repeat;
    -moz-background-size: no-repeat;
    -o-background-size: no-repeat;
  background-attachment: fixed;
     -webkit-background-size: fixed;
     -moz-background-size: fixed;
     -o-background-size: fixed;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-color: #464646;
  text-align: center;
}

h2, h3 {
  font-weight: bold;
}

div.row {
   background-color: #fff;
   opacity: 0.75;
   filter: Alpha(opacity=75); /* IE8 and earlier */
}

#results {
  margin-top: 20px;
  font-size: 20px;
}

.btn {
  height: 35px;
  background: solid;
  border: solid black;
  margin-top: -0.5px;
  margin-bottom: 10px;
}

/* Footer  */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #999;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer p:last-child {
  margin-bottom: 0px;
}
.footer img {
  width: 200px;
  margin-left: 70px;
  vertical-align: text-bottom;
}

/* auto-complete menu */
.ui-menu {
  background-color: white;
  list-style: none;
  margin: 0;
  max-width: 20em;
  outline: none;
  padding: 0;
  text-align: left;
}

.ui-menu .ui-menu-item {
  color: #222;
  border-bottom: 2px solid #428bca;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  padding: 3px 1em 3px .4em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-state-focus,
.ui-state-active {
  background-color: #ddd;
  margin: -1px;
}

.ui-helper-hidden-accessible { 
  clip: rect(1px,1px,1px,1px);
  position: absolute;
}
