body {
  font-family: 'Montserrat', sans-serif;
}

.title {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  }

.middle {
  margin-top: 50px;
 text-align: center;  
}

.input-field {
  width: 500px;
}
#display-result {
  margin-top: 50px;
  margin-bottom: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
}

/*the below are required for the jquery ui */
.ui-autocomplete {
  width:20px;
  border:1px solid lightgray;
  padding-right: 2%;
  background-color: white;
  text-align:right;
  font-weight:normal;
  color:gray;
}

.ui-autocomplete li {
  list-style:none;
}

.ui-autocomplete li:hover {
  font-weight:bold;
}

.ui-helper-hidden-accessible {
  display:none;
}


/*end autocomplete UI */